<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>

    <div class="wrapper">

      <div class="page-header">
        <h1>Welcome! <small>I can guess your number!</small></h1>
      </div>

      <div class="main">
        <div class="guess">
          AWESOME. Thanks for playing!
        </div>

        <aside class="">
        </aside>
      </div>

    </div>

  </body>
</html>
